---
import '../styles/global.css';
import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>GDPM | Supabase Auth</title>
	</head>
	<body class="min-h-screen bg-slate-50 text-slate-900 antialiased">
		<Nav />
		<main class="flex flex-col gap-10 py-12 md:gap-12 md:py-16">
			<slot />
		</main>
	</body>
</html>
