---
interface Props {
	title?: string;
	subtitle?: string;
}

const { title = 'Godot Plugin Manager', subtitle = 'Addons simplified' } = Astro.props as Props;
---

<section class="mx-auto w-[calc(100%-2rem)] max-w-xl space-y-2 pt-12 pb-4 text-center md:pt-16">
	<h1 class="text-3xl font-semibold tracking-tight text-slate-900 md:text-4xl">{title}</h1>
	<p class="text-lg font-semibold text-slate-900">{subtitle}</p>
</section>
